main {
  --blockquote-color-light: oklch(44.4% 0.011 73.639);
  --blockquote-color-dark: oklch(92.3% 0.003 48.717);

  --blockquote-decoration-color-light: oklch(70.9% 0.01 56.259);
  --blockquote-decoration-color-dark: oklch(86.9% 0.005 56.366);
}

header {
  h4,
  aside {
    text-align: center;
  }
}

figure {
  margin-inline: 0;
}

figcaption {
  text-align: center;
  font-style: italic;
  margin-block: 0.5rem;
}

blockquote {
  font-style: italic;
  color: light-dark(var(--blockquote-color-light), var(--blockquote-color-dark));
}

blockquote::before {
  content: open-quote;
  font-style: normal;
  font-size: 6rem;

  color: light-dark(var(--blockquote-decoration-color-light), var(--blockquote-decoration-color-dark));

  position: absolute;
  margin-left: -3rem;
  margin-top: -0.875rem;
}

.gallery {
  .thumbnails {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.25rem;

    border-radius: var(--embedded-content-border-radius);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1 / 1;

      border-radius: 0;
    }
  }
}
