---
layout: layout.njk
permalink: "tags/{{ tag | slug }}/index.html"
eleventyComputed:
  title: "Posts tagged '{{ tag }}'"
---

<section class="header-background prose prose-indigo dark:prose-invert">
  <h1>Posts tagged '{{ tag }}'</h1>
</section>

<section class="prose prose-indigo mt-12 dark:prose-invert">
  {% for group, posts in collections.posts | filterByTag(tag) | reverse | groupByYearMonth %}
  <h3>{{ group }}</h3>
  <ul>
    {% for post in posts %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</section>
