<a href="https://github.com/mpbarlow" target="_blank" title="Fork me on GitHub" class="group">
  <img
    src="/img/github.png"
    srcset="/img/github_2x.png 2x, /img/github_3x.png 3x"
    alt="A pixel art MacBook displaying the Git logo"
    class="h-[64px] w-[64px] group-hover:hidden"
  />
  <img
    src="/img/github_selected.png"
    srcset="/img/github_selected_2x.png 2x, /img/github_selected_3x.png 3x"
    alt="A pixel art MacBook displaying the Git logo"
    class="hidden h-[64px] w-[64px] group-hover:inline"
  />
</a>
