<a
  href="https://github.com/mpbarlow"
  target="_blank"
  title="Fork me on GitHub"
  class="group flex flex-col hover:text-orange-500"
>
  <img
    src="/img/github.png"
    srcset="/img/github_2x.png 2x, /img/github_3x.png 3x"
    alt="A pixel art MacBook displaying the Git logo"
    class="group-hover:hidden w-[64px] h-[64px]"
  />
  <img
    src="/img/github_selected.png"
    srcset="/img/github_selected_2x.png 2x, /img/github_selected_3x.png 3x"
    alt="A pixel art MacBook displaying the Git logo"
    class="hidden group-hover:inline w-[64px] h-[64px]"
  />
  <span class="mt-1">GitHub</span>
</a>
