<a
  href="https://www.instagram.com/mattpbarlow"
  target="_blank"
  title="Dog pix"
  class="group flex flex-col hover:text-orange-500"
>
  <img
    src="/img/instagram.png"
    srcset="/img/instagram_2x.png 2x, /img/instagram_3x.png 3x"
    alt="A pixel art iPhone taking a photo of the Instagram logo"
    class="group-hover:hidden w-[64px] h-[64px]"
  />
  <img
    src="/img/instagram_selected.png"
    srcset="/img/instagram_selected_2x.png 2x, /img/instagram_selected_3x.png 3x"
    alt="A pixel art iPhone taking a photo of the Instagram logo"
    class="hidden group-hover:inline w-[64px] h-[64px]"
  />
  <span class="mt-1">Instagram</span>
</a>
