<a href="https://www.instagram.com/mattpbarlow" target="_blank" title="Dog pix" class="footer-icon-link">
  <img
    src="/img/instagram.png"
    srcset="/img/instagram_2x.png 2x, /img/instagram_3x.png 3x"
    alt="A pixel art iPhone taking a photo of the Instagram logo"
    class="footer-icon"
  />
  <img
    src="/img/instagram_selected.png"
    srcset="/img/instagram_selected_2x.png 2x, /img/instagram_selected_3x.png 3x"
    alt="A pixel art iPhone taking a photo of the Instagram logo"
    class="footer-icon-selected"
  />
</a>
