<a href="https://www.instagram.com/mattpbarlow" target="_blank" title="Dog pix" class="group">
  <img
    src="/img/instagram.png"
    srcset="/img/instagram_2x.png 2x, /img/instagram_3x.png 3x"
    alt="A pixel art iPhone taking a photo of the Instagram logo"
    class="h-[64px] w-[64px] group-hover:hidden"
  />
  <img
    src="/img/instagram_selected.png"
    srcset="/img/instagram_selected_2x.png 2x, /img/instagram_selected_3x.png 3x"
    alt="A pixel art iPhone taking a photo of the Instagram logo"
    class="hidden h-[64px] w-[64px] group-hover:inline"
  />
</a>
