<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="barlow.dev" />
    <meta property="og:url" content="{{ siteUrl }}{{ page.url }}" />
    <meta property="og:title" content="{{ title }} - barlow.dev" />
    <meta property="og:type" content="blog" />
    {% if description %}
    <meta property="og:description" content="{{ description }}" />
    <meta name="description" content="{{ description }}" />
    {% endif %}

    <link rel="stylesheet" href="/css/layout.css" />
    {% for sheet in stylesheets %}
    <link rel="stylesheet" href="/css/{{ sheet }}.css" />
    {% endfor %}
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="canonical" href="{{ siteUrl }}{{ page.url }}" />
    <link rel="alternate" type="application/atom+xml" href="{{ siteUrl }}/feed.xml" title="RSS Feed" />

    <title>{{ title }} - barlow.dev</title>
  </head>

  <body>
    <nav id="header-links">
      <a href="/">Home</a>
      <a href="/posts/">Posts</a>
      <a href="/tags/">Tags</a>
      <a href="/feed.xml">RSS</a>
    </nav>

    <main>{{ content | safe }}</main>

    <footer>
      <nav id="all-post-links"><a href="/posts/">All posts</a> &bull; <a href="/tags/">By tag</a></nav>
      <nav id="social-links">
        {% include "mastodon_link.html" %} {% include "instagram_link.html" %} {% include "github_link.html" %}
      </nav>
      <p>&copy; {{ currentYear | asRomanNumerals }} Matt Barlow</p>
    </footer>
  </body>
</html>
