<a
  rel="me"
  href="https://cyberplace.social/@barlow"
  target="_blank"
  title="Toot me on Mastodon"
  class="hover:text-indigo-500 group flex flex-col"
>
  <img
    src="/img/mastodon.png"
    srcset="/img/mastodon_2x.png 2x, /img/mastodon_3x.png 3x"
    alt="A pixel art elephant bearing the Mastodon logo"
    class="h-[64px] w-[64px] group-hover:hidden"
  />
  <img
    src="/img/mastodon_selected.png"
    srcset="/img/mastodon_selected_2x.png 2x, /img/mastodon_selected_3x.png 3x"
    alt="A pixel art elephant bearing the Mastodon logo"
    class="hidden h-[64px] w-[64px] group-hover:inline"
  />
  <span class="mt-1">Mastodon</span>
</a>
