<a
  rel="me"
  href="https://cyberplace.social/@barlow"
  target="_blank"
  title="Toot me on Mastodon"
  class="group flex flex-col hover:text-orange-500"
>
  <img
    src="/img/mastodon.png"
    srcset="/img/mastodon_2x.png 2x, /img/mastodon_3x.png 3x"
    alt="A pixel art elephant bearing the Mastodon logo"
    class="group-hover:hidden w-[64px] h-[64px]"
  />
  <img
    src="/img/mastodon_selected.png"
    srcset="/img/mastodon_selected_2x.png 2x, /img/mastodon_selected_3x.png 3x"
    alt="A pixel art elephant bearing the Mastodon logo"
    class="hidden group-hover:inline w-[64px] h-[64px]"
  />
  <span class="mt-1">Mastodon</span>
</a>
