---
layout: layout.njk
stylesheets: ["post", "prism"]
---

<article>
  <header>
    <h1>{{ title }}</h1>
    {% if description %}
    <h4>{{ description }}</h4>
    {% endif %}

    <aside>
      <p>{{ date | postDate }} &bull; {{ content | textOnly | wordcount | readingTime }} read</p>

      <p id="tag-list">
        Tags: {% for tag in post_tags | sort %}
        <a href="/tags/{{ tag | slug }}/" title="See all posts tagged '{{ tag }}'">{{ tag }}</a>
        {% endfor %}
      </p>
    </aside>
  </header>

  <section>{{ content | safe }}</section>
</article>
