#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 200px;
    height: 200px;

    border: 0.25rem solid light-dark(var(--font-color-light), var(--font-color-dark));
    border-radius: calc(infinity * 1px);
  }

  p:last-child {
    /* Spacing looks a little off visually without this. */
    margin-bottom: 0;
  }
}
