main {
  --blockquote-color-light: oklch(44.4% 0.011 73.639);
  --blockquote-color-dark: oklch(92.3% 0.003 48.717);

  --blockquote-decoration-color-light: oklch(70.9% 0.01 56.259);
  --blockquote-decoration-color-dark: oklch(86.9% 0.005 56.366);
}

header {
  h4,
  aside {
    text-align: center;
  }
}

figure {
  margin-inline: 0;
}

figcaption {
  text-align: center;
  font-style: italic;
  margin-block: 0.5rem;
}

blockquote {
  font-style: italic;
  color: light-dark(var(--blockquote-color-light), var(--blockquote-color-dark));
}

blockquote::before {
  content: open-quote;
  font-style: normal;
  font-size: 6rem;

  color: light-dark(var(--blockquote-decoration-color-light), var(--blockquote-decoration-color-dark));

  position: absolute;
  margin-left: -3rem;
  margin-top: -0.875rem;
}

.gallery {
  --lightbox-padding: 1rem;

  .thumbnails {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.25rem;

    border-radius: var(--embedded-content-border-radius);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1 / 1;

      border-radius: 0;
    }
  }

  .lightbox {
    display: none;

    z-index: 10;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: var(--lightbox-padding);
    background: rgba(0, 0, 0, 0.75);

    &:has(:target) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      display: none;

      max-width: 100%;
      max-height: 100%;

      border-radius: 0;
      border: 0.25rem solid var(--font-color-dark);
    }

    img:target {
      display: block;
    }

    span {
      position: fixed;
      top: calc(var(--lightbox-padding) / 2);
      right: calc(var(--lightbox-padding) / 2);

      display: flex;
      align-items: center;
      justify-content: center;

      width: 2rem;
      height: 2rem;

      color: var(--font-color-dark);
      text-decoration: none;
      font-size: 4rem;
    }
  }
}
