/*
Started with the provided Solarized Light theme for PrismJS, then added Niki Tonsky's Alabaster colours for light mode, 
and my own take for dark.
https://github.com/PrismJS/prism/blob/v2/src/themes/solarizedlight.css
https://github.com/tonsky/vscode-theme-alabaster
*/
code[class*="language-"],
pre[class*="language-"] {
  --base-color: light-dark(#000, #fff);
  --background-color: light-dark(#f7f7f7, oklch(25.7% 0.09 281.288));
  --function-color: light-dark(#325cc0, oklch(78.5% 0.115 274.713));
  --comment-color: light-dark(#aa3731, oklch(70.4% 0.191 22.216));
  --number-color: light-dark(#7a3e9d, oklch(71.4% 0.203 305.504));
  --string-color: light-dark(#448c27, oklch(77.7% 0.152 181.912));

  background-color: var(--background-color);
  border-radius: var(--embedded-content-border-radius);
  color: var(--base-color);
  font-face: var(--font-face-mono);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: var(--line-height);
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  padding: 1em;
  overflow: auto;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: var(--comment-color);
}

.token.punctuation,
.token.entity,
.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name,
.token.variable {
  color: var(--base-color);
}

.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: var(--number-color);
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string,
.token.url {
  color: var(--string-color);
}

.token.important,
.token.regex,
.token.function-definition,
.token.class-name-definition,
.token.function {
  color: var(--function-color);
}
