@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "InstrumentSerif";
  src: url("/font/InstrumentSerif-Regular.ttf");
}

@font-face {
  font-family: "MonaspaceNeon";
  src: url("/font/MonaspaceNeon-Regular.woff");
}
