---
layout: layout.njk
title: "About me"
stylesheets: ["post"]
---

<header>
  <h1>About</h1>
</header>

<section>
  <h2>About me</h2>
  <img
    src="/img/family_wales.jpeg"
    alt="A photo of me, my wife, and my dog standing on top of a big hill in Barmouth, Wales. In the background is a shallow bay, and beyond that rolling hills and mountains."
  />
  <p>
    Hello, my name is Matt Barlow. I’m a software developer based in the UK. I’m onstensibly a web developer, but I work
    on all sorts of stuff.
  </p>
  <p>
    My bread and butter has typically been PHP (particularly Laravel projects—to which I once contributed
    <a href="https://laravel.com/docs/12.x/eloquent-mutators#query-time-casting" target="_blank"
      >a small but useful feature</a
    >), but these days I do just as much Go, TypeScript, and Python at work as I do PHP.
  </p>
  <p>
    I’ve worked on Objective-C and Swift iOS apps both professionally and for fun. I’ve led the migration of a large
    system from a ragtag collection of VPSs powered by Bash scripts and hope, to a Kubernetes cluster with CI/CD. I
    spent a couple of months helping optimise a data ingestion pipeline written entirely in Snowflake stored procedures,
    and I once made
    <a href="https://github.com/mpbarlow/crordle" target="_blank"
      >a clone of Wordle in Lua for the Playdate handheld console</a
    >. I’d love to get deep into a Lisp, but I can never think of a project to build with it.
  </p>
  <p>
    More than all that though, I enjoy long walks with my wife and dog, old video games, cars, and movies with the
    lights off and the sound up.
  </p>
  <p>
    I’m not actively looking for work, but if you’re building something cool please feel free to
    <a href="https://mastodon.social/@mpbarlow" target="_blank">reach out on Mastodon</a>.
  </p>
</section>

<section>
  <h2>About the blog</h2>
  <p>
    This blog is built with the excellent <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>, and hosted on
    GitHub Pages.
  </p>
  <p>
    Everything is proudly constructed with plain old web technology: hand-written HTML and CSS, with no frameworks and
    no client-side JavaScript. My goal is for the site to be fast, accessible, and privacy-preserving for everyone. It
    should look great in your browser’s reading mode, or your <a href="/feed.xml">RSS reader</a>. This website collects
    no analytics and stores no cookies.
  </p>
  <p>
    Most importantly: every word I write is my own thoughts, and every line of code committed is my own work. No LLMs,
    no slop, no engagement bait.
  </p>
  <p>Thanks for reading!</p>
</section>
