---
layout: layout.njk
title: "Home"
stylesheets: ["index"]
---

<header id="about-me">
  <img
    src="https://www.gravatar.com/avatar/f69faa2d58c63710b6ce0c9172d8d527?s=350"
    alt="A picture of me on the Headstone Viaduct on the Monsal Trail, Derbyshire, UK"
  />
  <div>
    <h1>Hi. I’m Matt.</h1>
    <p>
      I’m a software developer based in the UK. I work mostly with PHP, Python, Go, TypeScript, and Vue, but I’ll
      happily dabble in anything.
    </p>
    <p>
      If you want to contact me,
      <a href="https://mastodon.social/@mpbarlow">toot me on Mastodon</a>.
    </p>
  </div>
</header>

<section>
  <h2>Latest posts</h2>

  {% for group, posts in collections.posts | recent | reverse | groupByYearMonth %}
  <h3>{{ group }}</h3>
  <ul>
    {% for post in posts %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</section>
