---
layout: layout.njk
title: "All posts"
---

{%- from "pizzazz.njk" import pizzazz -%}

<div class="relative">
  {{ pizzazz('bottom-[-15px]') }}

  <div class="prose prose-indigo mx-auto max-w-prose px-safe-offset-4 dark:prose-invert md:px-0">
    <h1>{{ title }}</h1>
  </div>
</div>

<section class="prose prose-indigo mx-auto mt-12 max-w-prose px-safe-offset-4 dark:prose-invert md:px-0">
  {% for group, posts in collections.posts | reverse | groupByYearMonth %}
  <h3>{{ group }}</h3>
  <ul>
    {% for post in posts %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</section>
