---
layout: layout.njk
title: Other stuff
---

<header>
  <h1>Other stuff</h1>
</header>

<article>
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/bands">Bands I've seen</a></li>
  </ul>
</article>
