---
layout: layout.njk
title: "Post tags"
---

<section class="header-background prose prose-indigo dark:prose-invert">
  <h1>{{ title }}</h1>
</section>

<section class="prose prose-indigo mt-12 dark:prose-invert">
  <ul>
    {% for tag in collections.posts | extractTags | sort %}
    <li><a href="/tags/{{ tag | slug }}/">{{ tag }}</a> ({{ collections.posts | filterByTag(tag) | length }})</li>
    {% endfor %}
  </ul>
</section>
