---
layout: layout.njk
title: "Post tags"
---

<header>
  <h1>{{ title }}</h1>
</header>

<article>
  <ul>
    {% for tag in collections.posts | extractTags | sort %}
    <li><a href="/tags/{{ tag | slug }}/">{{ tag }}</a> ({{ collections.posts | filterByTag(tag) | length }})</li>
    {% endfor %}
  </ul>
</article>
